@{ var pokebola = ((List<Pokemon>)Model); }

@if (User.Claims.FirstOrDefault() != null)
{
<body>
    <header>
        <div class="container">
            <h1 class="h-100 badge badge-dark">Usuario: @User.Claims.FirstOrDefault().Value</h1>
        </div>
    </header>
</body>}
<h1>Lista de pokemones</h1>

<a href="/pokemon/registro">Crear Pokemon</a>

<form class="form-inline">
    <input class="form-control mr-sm-2 my-sm-0" type="search" placeholder="Buscar" name="search" value="@ViewBag.Buscar">
    <button class="btn btn-outline-success my-2" type="submit">Buscar</button>
</form>

<bir />
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pokebola)
        {
    <tr>
    <td>@item.Nombre</td>
    <td>@item.Elemento.Nombre</td>
    <td>
        <img src="@item.Imagen" width="50" alt="Alternate Text" />
    </td>
    <td>
        @if (User.Claims.FirstOrDefault() != null)
        {
            <a href="/pokemon/#?id=@item.Id">Capturar</a>
             <a href="/pokemon/#?id=@item.Id">Eliminar</a>
         }
         else
          {
            <a href="/auth/login">Login</a>
         }
    </td>
    </tr>
    }
    </tbody>
</table>
